<div class="container is-fluid mb-1" style="display:flex; justify-content:space-between">
  <h1 class="title">Peliculas</h1>
  <a href="<%= new_movie_path %>" class="button is-success is-outlined"><i class="fas fa-plus mr-1"></i> Nueva </a>
</div>

<div class="container is-fluid">

    <% @movies.each do |movie| %>
      <div class="mb-2 has-background-light is-relative py-2 px-2 animar" style="border-radius:5px">

        <a href="/movies/<%= movie.id %>" style="display:flex">

          <img src="<%= movie.url_image %>" style="width: 120px; height: 180px;">
          
          <div class="ml-2 has-text-dark">
            <h2 class="subtitle"><%= movie.name %></h2>

            <span class="card__data__container__datetime">
              <%= I18n.l(movie.date_time_movie, format: '%A, %d de %B de %Y') %> |
              <%= movie.date_time_movie.strftime("%H:%M") %>
            </span>
            <br>
            
            
            <span class="card__data__container__duration">
              <strong>Duracion: </strong>
              <%= movie.duration.strftime("%H:%M") %>
            </span>

            <span class="card__data__container__cine">
              <strong>En: </strong>
              <%= movie.cine.name %>
            </span>
          </div>
        </a>
        <div class="ml-4 mb-2 buttons" style="position:absolute; left:120px; bottom:0; z-index:100000">
          <a href="<%= edit_movie_path(movie) %>" class="button is-link is-outlined"> <i class="fas fa-pen mr-1"></i> Editar </a>
          <%= link_to "<i class='fas fa-trash-alt mr-1'></i> Elminar".html_safe, movie, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger is-outlined" %>
        </div>
      </div>    
    <% end %>
  </div>