<div class="container is-fluid mt-2">
    <img src="<%= @movie.url_image %>" style="width:250px">

    <div>
        <p class="title"> <%= @movie.name %> </p>
        <p> <strong>Duration:</strong> <%= @movie.duration.strftime("%H:%M") %> </p>
        <p><strong>Date time movie:</strong> <%= I18n.l(@movie.date_time_movie, format: '%A, %d de %B de %Y') %> |<%= @movie.date_time_movie.strftime("%H:%M") %></p>
        <p><strong>Cine:</strong> <%= @movie.cine.name %> </p>
    </div>

    <div class="field is-grouped mt-2">
      <p class="control">
        <a href=" <%= movies_path %>" class= "button is-text"> <i class="fas fa-arrow-left"></i> Back <a>
      </p>

      <p class="control">
        <a href="<%= edit_movie_path(@movie) %>" class="button is-text"> <i class="fas fa-pen"></i> Edit <a>
      </p>
    </div>
</div>

