<p id="notice"><%= notice %></p>

<div class="container is-fluid mb-1" style="display:flex; justify-content:space-between">
  <h1 class="title">Cines</h1>
  <a href="<%= new_cine_path %>" class="button is-success is-outlined"><i class="fas fa-plus mr-1"></i> Nuevo </a>
</div>

<div class="container">
    <% @cines.each do |cine| %>

      <div class="card">
        <a href="/cines/<%= cine.id %>" class="card__data">
          <img src="<%= cine.url_image %>" class="card__data__img">
          
          <div class="card__data__container">
            <h2 class="card__data__container__name"><%= cine.name %></h2>

            <span class="card__data__phone"><%= cine.phone %></span>
          </div>
        <a>
        <div class="card__operations">
          <%= link_to 'Edit', edit_cine_path(cine) %> |
          <%= link_to 'Delete', cine , method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    
    <% end %>
</div>

