<p id="notice"><%= notice %></p>

<div class="head">
  <a href="<%= cines_path %>" class="btn btn--back" title="regresar"><i class="far fa-caret-square-left"></i></a>
</div>


<div class="element">
  <img src="<%= @cine.url_image %>" class="element__img">

  <div class="element__data">
    <p class="card__data__container__name">
      <%= @cine.name %>
    </p>

    <p class="element__data__duration">
      <strong>Telefono:</strong>
      <%= @cine.phone %>
    </p>

    <a href="<%= edit_cine_path(@cine) %>" class="btn btn--edit" title="Editar">
      <i class="fas fa-edit"></i>
    </a>
  <div>
<div>