<p id="notice"><%= notice %></p>

<div class="container is-fluid mt-2">
  <img src="<%= @cine.url_image %>" class="element__img">

  <div>
    <p class="title"> <%= @cine.name %></p>
    <p><strong>Telefono:</strong> <%= @cine.phone %></p>
  <div> 
    
  <div class="field is-grouped mt-2">
    <p class="control">
      <a href=" <%= cines_path %>" class= "button is-text"> <i class="fas fa-arrow-left"></i> Back <a>
    </p>

    <p class="control">
      <a href="<%= edit_cine_path(@cine) %>" class="button is-text"> <i class="fas fa-pen"></i> Editar <a>
    </p>
  </div>
</div>