<!DOCTYPE html>
<html>
  <head>
    <title>Cinema</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CDN de bulma -->   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css">
    <!-- CDN de fontawesome -->   
    <script src="https://kit.fontawesome.com/65874f9339.js" crossorigin="anonymous"></script>
    <!-- scripts de rails -->   
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- stilos de rails -->   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">

      <div class="navbar-brand">
        <a class="navbar-item" href="<%= root_path %>">
          <%= image_tag 'logo.png' %>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">

        <div class="navbar-start">

          <%= link_to 'Catalogo', root_path, class: "navbar-item" %>
          <%= link_to 'Cines', cines_path, class: "navbar-item" %>
          <%= link_to 'Peliculas', movies_path, class: "navbar-item" %> 
        
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            
            <% if user_signed_in? %>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  <figure class="image is-32x32">
                    <img src="<%= current_user.photo.url %>">
                  </figure>
                  <span style="margin-left: 10px"> <%= current_user.email %> <span>
                </a>

                <div class="navbar-dropdown">
                  <%= link_to 'Editar perfil', edit_user_registration_path, class: "navbar-item" %>
                  <%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete, data: { confirm: 'Cerrar sesion?'}, class: "navbar-item" %>
                </div>

              </div>

            <% else %>  
              <div class="buttons">
                <a href="<%= new_user_registration_path %>" class="button is-primary">
                  <strong>Sign up</strong>
                </a>

                <a href="<%= new_user_session_path %>" class="button is-light">
                  Log in
                </a>
              </div>
            
            <% end %>

          </div>
        </div>
      </div>
    </nav>
    
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
