<!DOCTYPE html>
<html>
  <head>
    <title>Cinema</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/65874f9339.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navigation"> 
      <div class="navigation__logo"><i class="fas fa-film"></i>Cinema</div>
      
      <ul class="list">
        <li class="list__item"><%= link_to 'Cines', cines_path %></li>
        <li class="list__item"><%= link_to 'Peliculas', movies_path %></li>
        <li class="list__item">

          <% if user_signed_in? %>

            <%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete, data: { confirm: 'Cerrar sesion?' } %>

            <div>
              <%= image_tag current_user.photo.url %>
            </div>

          <% else %>
            <%= link_to 'Iniciar sesion', new_user_session_path %>
          <% end %>
        
        <li>
      </ul>
    </nav>
    
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
